* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {


}

.navbar {
  box-shadow: 0px .008px 10px .008px rgb(206, 206, 206);
}

.columns {
  text-align: center;
}

.col-2 {

}


h1 {
  color: black;
}

span {
  color: rgb(255, 165, 0);
}


p {

}

.input {

}

.button {
  background-color: orange;
  color: black;
}

.box {

  /* height: 700px; */
}


h2 {
  font-size: 30px;
  color: black;

}

@media screen and (max-width:750px) {
  .col-1, .col-3 {
    display: flex;
    width: 50%;
    flex-direction: column;
  }
}

@media screen and (max-width:750px) {
  .columns {
    display: flex;
    flex-direction: column;
  }
  #a{order:2;}
  #a{order:1;}
  #a{order:3;}
}

