* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-color: rgb(228, 226, 226);
  background-image: url(https://images.unsplash.com/photo-1505533542167-8c89838bb19e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
  background-position: center;
  background-repeat: no-repeat;
}

body {
  font-family: josefin sans;
}

.navbar {
  box-shadow: 0px .008px 10px .008px rgb(206, 206, 206);
}


/* all columns */
.columns {
  text-align: center;
}

.side-column { /* Specific to index.html */
  min-height: 120vh;
}


h2 {
  font-size: 20px;
}

.col-1, .col-3 {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* all columns end */



/* target col 2 start*/
.col-2 {
  margin-top: 20px;
}

#main-title {
  font-size: 45px;
  color: black;
}

span {
  color:#4678a0;
}

#slogan {
  margin-bottom: 8px;
  font-size: 25px;
  color: black;
}

#info-p {
  font-size: 16px;
  color: dark grey;
  margin-bottom: 15px;
}

.input {
  text-align: center;
  margin-bottom: 20px;
}

.button {
  background-color: #F2D57E;
  color: black;
}
/* target col 2 end */

.results-text{
  font-size: 175%;
}

footer {
  display: flex;
  border: none;
  align-items: center;
  box-shadow: 0px .008px 10px .008px rgb(206, 206, 206);
  height: 100px;
  background-color: white;
}

#playlist-box { /* Specific to playlist.html */
  margin-top: 10px;
  width: 750px;
  height: auto;
}

#weather-box { /* Specific to playlist.html */
  width: 500px;
  height: 300px;
}

#display-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#current-temp {
  font-size: 500%;
}

#current-conditions {
  font-size: 200%;
  text-transform: capitalize;
}

.highlow-temp {
  text-align: center;
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 200%;
}

.playlist-item-container {
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  justify-content: left;
}

.playlist-item {
  display: flex;
  font-size: 150%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;;
  flex-direction: row-reverse;
  justify-content: left;
}

.playlist-item-text{
  display: flex;
  flex-direction: column; 
  text-align: start;
  margin-left: 15px;
}

.song-title {
  font-size: 30px;
}

.artist-name {
  font-size: 20px;
  font: italic;
}

.album-cover-picture {
  width: 75px;
  height: 75px;
}


/* Page responsiveness */

@media screen and (max-width:1330px) {
  #parent {
    display: block;
  } 
  #parent { display: flex; flex-direction: column; }
  #a { order: 3; }
  #b { order: 1; }
  #c { order: 2; }

  .side-column { /* Specific to index.html */
    min-height: 10vh;
  }
  #main-logo {
    height: 300px;
  }

.input {
  width: 500px
}
}

@media screen and (max-width:890px) {
  #main-title {
    font-size: 30px;
  }

  .results-text{
    font-size: 125%;
  }

  .playlist-item{
    font-size: 100%;
  }

  .album-cover-picture{
    max-width: 48px;
    max-height: 48px;
  }

  .song-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .artist-name {
    font-size: 15px;
  }
  

  #current-temp{
    font-size: 300%;
  }

  .playlist-item-text{
    display: flex;
    flex-direction: column; 
    text-align: start;
    margin-left: 15;
  }

  #user-input {
    font-size: 15px;
    width: 350px;
    margin-bottom: 0px;
  }

  #generate-button {
    margin-top: 20px;
    width: 150px;
  }

  footer {
    margin-top: 40px;
  }

  #main-logo {
    width: 250px;
    height: 250px;
  }

  #playlist-box { 
    margin-top: 10px;
    width: 500px;
    height: auto;

  }
  
  #weather-box { 
    width: 350px;
    height: 250px;
  }
}

@media screen and (max-width:970px) {
  #main-title {
    font-size: 25px;
  }
}

@media screen and (max-width:1130px) {
  #main-title {
    font-size: 30px;
  }

  #slogan {
    font-size: 16px;
  }

  #info-p {
    font-size: 12px;
  }
}

@media screen and (max-width:1390px) {
  #main-title {
    font-size: 32px;
  }

  #slogan {
    font-size: 20px;
  }

  #info-p {
    font-size: 12px;
  }
}

@media screen and (max-width:1460px) {
  #main-title {
    font-size: 35px;
  }
}
/* End page responsiveness */