* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}


body {
  height:900px;
  /* background-color: #5b2035; */

}

.navbar {
  display: flex;
  box-shadow: 0px .008px 10px .008px rgb(206, 206, 206);

}

.columns {
  margin-top: 30px;
  text-align: center;
}

.col-2 {
  margin-top: 50px;
}


h1 {
  font-size: 50px;
  margin: 25px;
  color: black;
}

span {
  color: orange;
}


p {
  margin-bottom: 20px;
}

.input {
  margin-top: 8px;
  margin-bottom: 20px;
}

.button {
  margin: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: orange;
  color: black;
}

.box {
  height: 700px;
}



#playlist-box {
  max-width: 800px;
  max-height: 600px;
}

#weather-box {
  max-width: 600px;
  max-height: 200px;
}

h2 {
  font-size: 30px;
  color: black;

}

#user-input {
  padding: 20px;
}

@media screen and (max-width:767px){
  #parent{
    display:flex;
    flex-flow: column;
  }
  #a {
    order:2;

  } 
}